html {
  width: 100%;
  height: 100%;
  margin: 10px;
}

body {
  display: flex;
  background-color: rgb(54, 57, 62);
}

@media only screen and (min-width: 600px) {
  body {
    /* centers horizontally and vertically */
    justify-content: center; 
    align-items: center;
  }
}